/*book details styling*/

#bookDetails {
    display: flex;
    flex-direction: column;
  
    margin: 1rem;
  }
  
  #imageAndDescrip {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 900px) {
    #imageAndDescrip {
        display:inline-block;
        flex-direction: column;}
  }

  #bookImage {
    max-width: 100%;
    height: auto;
  }
  
  #bookDescrip {
    color: rgb(45, 31, 129);
    border-radius: 20px;
    margin: .5rem;
    padding: 1rem;

    max-width: 100%;
    height: auto;
  }
  
  #bookStatus {
    color: grey; /*,ake color of text change when book is available*/
    text-align: center;
  }
  
  #availResSec {
    margin-bottom: 2rem;
  }

  .bookStatus-available {
    color: rgb(45, 31, 129); /* Same as #bookDescrip color */
    text-align: center;
  }

  .bookStatus-unavailable {
    color: grey;
    text-align: center;
  }
  
  #availRes {
    color: grey; /*,ake color of text change when book is available*/
    text-align: center;
  }
  
  #button {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  button {
    background-color: rgb(221, 129, 63);
    text-align: center;
    padding: .5rem;
    border-radius: 10px;
  }