*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid green;
}

html, body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
 
  min-height: 100%;
  background: linear-gradient(0.25turn, #b5b9df, #d0d6e4, #d7dce6);
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;

  list-style-type: none;
  justify-content:space-between
}

header {
  color: white;
  background-color: chocolate;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 25px;
}

menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

#nav {
  justify-content:space-between;
  padding-top: 2rem;
  padding-left: .5rem;
}

#menuItem {
  background-color: chocolate;
  padding: .5rem;
  border-radius: 15px;
}

#bookCard {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

#books {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aqua;
  margin: 1rem;
  text-align:justify;
  padding: 1rem;
  list-style-type: none;

  flex: 1 1 150px;
  min-width: 100px;
  max-width: 200px;
  height: 200px;

  border-radius: 25px;
}

#seeDetails {
  text-align: center;
  background-color: chocolate;
  border-radius: 10px;
}







