* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0px solid green;
}

#root {
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

  min-height: 100%;

  background: white;
  background-size: cover;
  background-repeat: no-repeat;
}

/*nav bar styling*/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: linear-gradient(0.25turn, #c8ccf6, white, white);
  list-style-type: none;

  padding: 1rem;
}

@media (max-width: 655px) {
  nav {
    display: inline-block;
    flex-direction: column;
  }
}

#hamMenu {
  display: none;
}

@media (max-width: 655px) {
  #hamMenu {
    display: block;
  }
.menu {
  display: none;
}
.menu.active {
  display: block;
  flex-direction: row;
  position: absolute; /* Dropdown effect */
  width: 100%; /* Full width */
  /* Additional styles for the active menu */
}
}

header {
  background-color: rgb(221, 129, 63);

  color: white;
  font-size: 2rem;

  padding: 1rem;
  border-radius: 25px;
}

menu {
  display: flex;
  flex-direction: row;

  list-style-type: none;
}

/*@media (max-width: 655px) {
  menu {
    display: inline-block;
    flex-direction: column;
  }
}*/

#nav {
  justify-content: space-between;

  padding-top: 2rem;
  padding-left: 0.5rem;
}

#menuItem {
  background-color: rgb(221, 129, 63);

  padding: 0.5rem;
  border-radius: 15px;
}

@media (max-width: 655px) {
  #nav {
    padding: 0;
    margin-top: 1rem;
  }
  .menu.active #menuItem {
    font-size: .8rem;
    background-color: transparent; 
    padding: 0;
    margin: 0;
    text-align: left; 
  }
}

#hamMenu {
  margin-top: .5rem;
}

/*book list styling*/

form {
  margin: 1rem;
}

#search,
#searchClear {
  margin: 0.2rem;
}

#searchBox {
  filter: drop-shadow(1px 2px 2px rgb(46, 72, 117));
  margin: 0.2rem;
  padding: 0.3rem;
  border-radius: 8px;
}

#bookCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  color: rgb(69, 58, 135);
}

#books {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 300px;

  background-color: rgb(202, 216, 241);
  list-style-type: none;
  text-align: center;

  position: relative;

  margin: 1rem;
  padding: 1rem;
  border-radius: 25px;
}

#bookTitle {
  white-space: normal;
  word-wrap: break-word;

  color: rgb(45, 31, 129);
  line-height: 1;
  padding-bottom: 0.5rem;
}

#bookImage {
  filter: drop-shadow(2.5px 5px 5px rgb(46, 72, 117));
  border-radius: 20px;

  margin: 0.5rem;
  width: auto;
  max-height: 200px;
}

#seeDetails {
  background-color: rgb(221, 129, 63);
  font-size: 0.8rem;
  text-align: center;

  padding: 0.6rem;
  border-radius: 15px;
}
