*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid green;
}

#root {
  margin: 0;
}

html, body {
  display: flex;
  flex-direction: column;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
 
  min-height: 100%;

  background: white;
  background-size: cover;
  background-repeat: no-repeat;
}

/*nav bar styling*/
/*create breakpoint for navbar*/
nav {
  display: flex;
  flex-direction: row;
  justify-content:space-between;

  background: linear-gradient(0.25turn, #c8ccf6, white, white);
  list-style-type: none;
  
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

header {
  background-color: rgb(221, 129, 63);

  color: white;
  font-size: 2rem;

  padding: 1rem;
  border-radius: 25px;
}

menu {
  display: flex;
  flex-direction: row;

  list-style-type: none;
}

#nav {
  justify-content:space-between;

  padding-top: 2rem;
  padding-left: .5rem;
}

#menuItem {
  background-color: rgb(221, 129, 63);

  padding: .5rem;
  border-radius: 15px;
}

/*book list styling*/

#bookCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 

  color: rgb(69, 58, 135);
  margin: 2rem;
}

#books {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 150px;
  min-width: 200px;
  height: auto;

  background-color: rgb(202, 216, 241);
  list-style-type: none;
  text-align:center;

  margin: 1rem;
  padding: 1.5rem;
  border-radius: 25px;
}

#bookTitle {
  color: rgb(45, 31, 129);
  line-height: 1;
  padding-bottom: .5rem;
}

#bookImage {
  filter: drop-shadow(2.5px 5px 5px rgb(46, 72, 117));
  border-radius: 20px;

  margin: .5rem;
  max-width: 100%;
  height: auto;
}

#seeDetails {
  background-color: rgb(221, 129, 63);
  text-align: center;

  padding: .2rem;
  border-radius: 10px;
}

/*book details styling*/

#bookDetails {
  display: flex;
  flex-direction: column;

  margin: 1rem;
  text-align: center;
}

#imageAndDescrip {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

#bookDescrip {
  color: rgb(45, 31, 129);
  background-color: rgb(202, 216, 241);
  border-radius: 20px;
  margin: .5rem;
  padding: 1rem;
}

#bookStatus {
  color: rgb(45, 31, 129);
  text-align: center;
}

#availResSec {
  margin-bottom: 2rem;
}

#availRes {
  color: rgb(45, 31, 129);
  text-align: center;
}

#button {
  text-align: center;
  margin-bottom: 2rem;
}

button {
  background-color: rgb(221, 129, 63);
  text-align: center;
  padding: .5rem;
  border-radius: 10px;
}

/*account details styling*/

#accountDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 2rem;
  padding: 1rem;
}

#accountInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div {
  margin: 1rem;
}

#accountEmail, #reservations {
  background-color: rgb(202, 216, 241);
  color: rgb(45, 31, 129);
  padding: 1.5rem;
  border-radius: 15px;
}

#underline {
  text-decoration: underline;
}

#reservationInfo {
  list-style-type: none;
}

#author, #email {
  color: rgb(69, 58, 135);
}

#returnBook {
  background-color: rgb(221, 129, 63);
  color: white;
  margin: .5rem;
  padding: .5rem;
  border-radius: 10px;
}
